/* Стили для основных элементов */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

h1, h2, h3 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #333;
}

/* Стили для блока навигации */
header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
}

nav a:hover {
	color: #ccc;
}

/* Стили для контейнера с курсами */
.container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 50px 20px;
}

.box {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	padding: 20px;
	margin: 20px;
	text-align: center;
}

.box img {
	max-width: 100%;
	margin-bottom: 20px;
}

.box h2 {
	margin-bottom: 20px;
}

.box p {
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
}

.btn:hover {
	background-color: #666;
	cursor: pointer;
}

/* Стили для футера */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.contact-info p {
	margin: 0;
}

.social-links a {
	margin-right: 10px;
}

.social-links img {
	max-width: 50px;
}