body {
	background-color: #5c4e7d;
	color: #fff;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #fff;
	border-bottom: 1px solid #5c4e7d;
	padding: 10px;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 48px;
}

h1 a {
	color: #5c4e7d;
	text-decoration: none;
}

section {
	margin: 50px auto;
	max-width: 800px;
}

.box {
	background-color: #fff;
	border: 1px solid #5c4e7d;
	margin-bottom: 50px;
	padding: 20px;
	text-align: center;
}

.box h2 {
	margin-top: 0;
}

.box img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.box p {
	line-height: 1.5;
	margin-bottom: 20px;
}

.btn {
	background-color: #5c4e7d;
	border: none;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 0;
	cursor: pointer;
	border-radius: 20px;
}

.btn:hover {
	background-color: #fff;
	color: #5c4e7d;
	border: 2px solid #5c4e7d;
}

footer {
	background-color: #fff;
	border-top: 1px solid #5c4e7d;
	color: #5c4e7d;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.contact-info p {
	margin: 0;
	line-height: 1.5;
}

.social-links a {
	display: inline-block;
	margin-left: 10px;
}

.social-links img {
	max-width: 100%;
	height: auto;
}